{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} SGI - Home{% endblock %}
{% block content %}

<div class="card">
   <h1>Purchase Form</h1>
   <div class="card-body" style="width: 28rem;">
      <form class="form-buy" method="POST" action="/basket">
       {{ form.hidden_tag() }}
       {{ wtf.form_field(form.email) }}
       {{ wtf.form_field(form.name) }}
       {{ wtf.form_field(form.type) }}
       {{ wtf.form_field(form.produce) }}
       {{ wtf.form_field(form.price) }}
       {{ wtf.form_field(form.kilo) }}
       {{ wtf.form_field(form.address) }}
       {{ wtf.form_field(form.contact) }}
       {{ wtf.form_field(form.delivery_dt) }}
    <button class="btn btn-success" type="submit">Check Out</button>
  </form>
   </div>
</div>
{% endblock %}
